@charset "UTF-8";
/*色の設定*/ /*レスポンシブル*/
/*BLOG&NEWSコンテンツ*/
.blog-contents {
  width: 100%;
}
.blog-contents .fixed-background {
  display: none;
}
@media (min-width: 48rem) {
  .blog-contents .fixed-background {
    display: block;
    min-height: 65vh;
    background-attachment: fixed !important;
    background-size: cover !important;
    background-position: 50% 100% !important;
  }
}
@media (min-width: 48rem) {
  .blog-contents .background-3 {
    background: url(../images/bk-3.png);
  }
}
.blog-contents .fixed-background-sp-3 {
  -webkit-clip-path: inset(0);
          clip-path: inset(0);
  width: 100%;
  height: 50vh;
}
@media (min-width: 48rem) {
  .blog-contents .fixed-background-sp-3 {
    display: none;
  }
}
.blog-contents .fixed-background-sp-3::before {
  content: "";
  display: block;
  position: fixed;
  inset: 0;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: 50% 100%;
  background-image: url(../images/bk-sp-3.png);
  background-size: cover;
}

.blog-area-content {
  max-width: 1400px;
  padding: 10px 15px 10px 15px;
  margin: 0 auto;
}
.blog-area-content .blog-text-left {
  position: relative;
  max-width: 500px;
  height: auto;
  margin-top: -20%;
  padding: 120px 20px 150px 20px;
  background: #fff;
  border: 1px solid hsl(0deg, 1%, 74%);
  text-align: center;
}
@media (min-width: 48rem) {
  .blog-area-content .blog-text-left {
    margin-top: -25%;
  }
}
@media (min-width: 64.375rem) {
  .blog-area-content .blog-text-left {
    margin-top: -25%;
    margin-left: 20px;
  }
}
@media (max-height: 40.625rem) {
  .blog-area-content .blog-text-left {
    margin-top: -10%;
  }
}
.blog-area-content .blog-text-left::after {
  position: absolute;
  content: "";
  right: 2px;
  top: 1px;
  border-width: 0 25px 25px 0;
  border-style: solid;
  border-color: #ccc #fff #ccc;
  box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15);
}
.blog-area-content .blog-text-left .fa-book-open {
  font-size: 3rem;
  color: #fff;
  text-align: center;
  padding: 15px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-bottom: 10px;
  background: #04384C;
}
.blog-area-content .blog-text-left h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}
.blog-area-content .blog-text-left p {
  font-size: 1rem;
  text-align: left;
}
.blog-area-content .blog-wrapper {
  width: 100%;
}
.blog-area-content .blog-wrapper .blog-flex {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 50px 0 20px 0;
}
@media (min-width: 48rem) {
  .blog-area-content .blog-wrapper .blog-flex {
    margin: 100px 0 50px 0;
    gap: 0px;
  }
}
.blog-area-content .blog-wrapper .blog-flex li {
  width: calc(50% - 10px);
  margin: 0 5px 20px 0;
}
@media (min-width: 48rem) {
  .blog-area-content .blog-wrapper .blog-flex li {
    width: calc(22% - 5px);
    margin: 0 20px 20px 0;
  }
  .blog-area-content .blog-wrapper .blog-flex li:nth-child(1) {
    margin-left: 20px;
  }
}
.blog-area-content .blog-wrapper .blog-flex li:hover .blog_thumb img {
  opacity: 0.6;
}
.blog-area-content .blog-wrapper .blog-flex li .blog_thumb {
  position: relative;
}
.blog-area-content .blog-wrapper .blog-flex li .blog_thumb .thumb-cat {
  position: absolute;
  text-align: center;
  width: 40%;
  top: 5%;
  left: 5%;
  font-size: 0.7rem;
  color: #000;
  border: 1px solid #333;
  background: #fff;
}
@media (min-width: 48rem) {
  .blog-area-content .blog-wrapper .blog-flex li .blog_thumb .thumb-cat {
    width: 40%;
    font-size: 0.8rem;
  }
}
@media (min-width: 64.375rem) {
  .blog-area-content .blog-wrapper .blog-flex li .blog_thumb .thumb-cat {
    width: 30%;
    left: 5%;
    font-size: 1rem;
  }
}
.blog-area-content .blog-wrapper .blog-flex li .blog_title {
  font-size: 0.8rem;
}
@media (min-width: 64.375rem) {
  .blog-area-content .blog-wrapper .blog-flex li .blog_title {
    font-size: 1rem;
  }
}
.blog-area-content .blog-wrapper .blog-flex li .blog_date {
  font-size: 0.8rem;
}
@media (min-width: 64.375rem) {
  .blog-area-content .blog-wrapper .blog-flex li .blog_date {
    font-size: 1rem;
  }
}
.blog-area-content .blog-wrapper .blog-archive {
  text-align: center;
  margin: 10px 0 30px 0;
}
@media (min-width: 48rem) {
  .blog-area-content .blog-wrapper .blog-archive {
    margin: 30px 0 30px 0;
  }
}

.news-area-content {
  width: 100%;
  margin: 30px 0 50px 0;
  padding: 20px;
}
@media (min-width: 48rem) {
  .news-area-content {
    width: 70%;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 50px;
  }
}
.news-area-content h2 {
  font-size: 1.2rem;
  padding: 10px 20px;
  border-left: 4px solid #04384C;
}
@media (min-width: 48rem) {
  .news-area-content h2 {
    position: relative;
    padding: 15px;
    text-align: center;
    border-left: 0px solid #04384C;
  }
  .news-area-content h2::before {
    position: absolute;
    bottom: -10px;
    left: calc(50% - 30px);
    width: 60px;
    height: 5px;
    content: "";
    border-radius: 3px;
    background: #000;
  }
}
.news-area-content .news-content {
  margin: 30px 0 30px 0;
}
.news-area-content .news-content li {
  margin-bottom: 15px;
  border-bottom: 1px dotted #000;
}
.news-area-content .news-content li a .news_date {
  font-size: 0.7rem;
}
.news-area-content .news-content li a .news_title {
  font-size: 1rem;
}
.news-area-content .news-content .news-btn {
  margin: 40px 0 50px 0;
  text-align: center;
}