@use "variable" as v;
@use "mixin" as m;

/*お問合せフォームのrent-single用*/
.single-contact{
    padding: 0px;
    @include m.breakpoint(tablet){
        padding: 20px;
    }
    .contact-wrap{
        h2{
            padding: 5px 10px 5px 15px;
            border-left: 5px solid #1F4D39;
            text-align: left;
            background-color: #eceaea;
            color: #1F4D39;
            box-shadow: 2px 2px 4px #dbdbdb;
        }
        .contact-form{
            padding: 20px;
            text-align: center;
            form{
                @include m.breakpoint(tablet){
                    padding: 30px;
                }
                input[type=text] {
                    width: 100%;
                    padding: 5px 10px;
                    font-size: medium;
                    border: none;
                    border-radius: 3px;
                    background: #ddf0ff;
                }
                .property{
                    width: 100%;
                    padding: 5px 10px;
                    font-size: medium;
                    border: none;
                    border-radius: 3px;
                    background: #fff!important;
                }
                input[name=btn_confirm],
                input[name=btn_submit],
                input[name=btn_back] {
                    margin-top: 10px;
                    padding: 5px 20px;
                    font-size: .8rem;
                    color: #fff;
                    cursor: pointer;
                    border: none;
                    border-radius: 3px;
                    box-shadow: 0 3px 0 #2887d1;
                    background: #4eaaf1;
                }
                input[name=btn_back] {
                    margin-right: 20px;
                    box-shadow: 0 3px 0 #777;
                    background: #999;
                }
                .dammy{
                    display: none;
                }
                .element_wrap {
                    margin-bottom: 10px;
                    padding: 10px 0;
                    border-bottom: 1px solid #ccc;
                    text-align: left;
                    font-size: .8rem;
                    label {
                        display: block;
                        margin-bottom: 10px;
                        font-weight: bold;
                        width: 100%;
                    }
                    p{
                        display: block;
                        margin:  0;
                        text-align: left;
                        font-size: .8rem;
                    }
                    textarea{
                        width: 100%;
                        height: 200px;
                    }
                    span{
                        display: block;
                    }
                    .required{
                        display: inline;
                        margin-left: 10px;
                        color: red;
                        font-size: .7rem;
                    }
                }
            }
            .error_list {
                padding: 10px 30px;
                color: #ff2e5a;
                font-size: 86%;
                text-align: left;
                border: 1px solid #ff2e5a;
                border-radius: 5px;
            }
        }
    }
}